<html>
    <head>
        <!--<meta http-equiv="content-type" content="text/html;charset=utf-8" />-->
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="style1.css" type="text/css"/>
        <title>One Profil</title>
    </head>
    <body>
    <header>
        <a href="/Sorcier_Twitter/logout">Déconnexion</a>
    </header>
    <div>
        <form action="/Sorcier_Twitter/search" method="post">
            <input type="text" name="search" placeholder="Search">
            <button type="submit" name="submit-search">Go</button>
        </form>

        </div>
        </body>
